.Box1 {
    text-align: center;
    padding: 15.8%;
}

body {
    background-color: #000000;
    color: white;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRl6TLkgKdYj2bZjelKQTZSTp6bVcZmZDjl7g&s");
    background-size: cover;
}

a {
    color: white;
}


